* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.main-container {
  max-width: 1400px;
  max-height: 890px;
  background-color: #2f1893;
  /* border:1px solid red; */
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}
h1,
p,
button {
  margin: 0;
}
.row {
  display: flex;
}

/* container of hero-content */
.container {
  max-width: 66%;
  margin: 0 auto;
  /* border: 1px solid pink; */
}

/* navigationigation */
.hamburger-icon {
  display: none;
}

header {
  display: flex;
  max-width: 66%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #1da1f2; */
  margin: 0 auto;
  padding-top: 50px;
}

.logo .logo-text {
  font-weight: 700;
  font-size: 24px;
}
.logo-text:hover {
  cursor: pointer;
}

.hamburger-icon {
  border: none;
  background-color: transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x {
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.hamburger-icon input[type="checkbox"] {
  appearance: none;
}

.navigation {
  display: flex;
  gap: 2rem;
}

.navigation a {
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.navigation a::after {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.navigation li:nth-of-type(4) a::after {
  all: unset;
}
.navigation a:hover::after {
  width: 30px;
}
.navigation li:first-child a {
  color: #6d5db3;
}
.navigation li:nth-of-type(4) a {
  padding: 0.5em 1em;
  background-color: #e93a7d;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
}

.navigation li:nth-of-type(4) a:hover,
.hero a:hover {
  background-color: #c95783;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* End navigationigation */

/* Hero */

.hero {
  display: grid;
  align-items: center;
  /* grid-template-columns: 427px 470px; */
  grid-template-columns: 4fr 4.71fr;
  justify-content: space-between;
  height: 800px;
  /* border:1px solid red */
}
.hero h1 {
  font-size: clamp(40px, 5vw, 58px);
  font-weight: 700;
  line-height: 1;
}
.hero p {
  width: 85%;
  font-size: 22px;
  font-weight: 500;

  padding: 1.7em 0;
}
.hero a {
  font-weight: 500;
  font-size: 18px;
  padding: 0.9em 2em;
  background-color: #e93a7d;
  border-radius: 100px;
}

/* Hero Ends */
.image-main-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: auto;
}

.image-container {
  position: relative;
}
.image2 {
  position: absolute;
  right: 80px;
  top: 17%;
}

@media (max-width: 1265px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 1000px) {
  header {
    max-width: 100%;
    padding-top: 15px;
  }
  .container {
    max-width: 90%;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
  }
}
@media (max-width: 768px) {
  body {
    background: #2f1893;
    padding: 0;
    margin: 0;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 50px;
    flex-wrap: wrap-reverse;
  }
  .hero h1 {
    margin-top:30px;
  }
  .main-container {
    width: 100%;
  }
  header {
    display: block;
    position: sticky;
    align-items: center;
    background-color: #1da1f2;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .navigation {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger-icon {
    display: block;
    margin-top: -30px;
  }
  .fa-x {
    display: none;
  }
  header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
    margin-top: 1rem;
    height: auto;
    margin-bottom: 2rem;
  }
  header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
    display: none;
  }
  header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
    display: inline-block;
  }
}
@media (max-width: 520px) {
  .signup-form {
    width: 90%;
    padding: 10%;
    height: auto;
    margin-bottom: 30px;
  }
  body {
    padding: 0px 0px 30px 0px;
  }
  header {
    max-width: 100%;
  }
}
